<div class="m-cascading-product-card m-cascading-product-card--placeholder m:relative">
  <div class="m-cascading-product-card__wrapper">
    <div class="m-cascading-product-card__image m:relative m:overflow-hidden">
      <div class="m-cascading-product-card__image-main">
        {{ placeholder_name | placeholder_svg_tag: 'm-placeholder-svg m-image' }}
      </div>
    </div>
    <div class="m-cascading-product-card__content m:text-left">
      <h4 class="h6">{{ 'homepage.onboarding.product_title' | t }}</h4>
      <div class="m-cascading-product-card__price">$19.99</div>
    </div>
  </div>
</div>
