<div class="{% if block.settings.title != blank %}m-accordion--item-content{% endif %} m-footer--block-content">
  {% if block.settings.html != blank %}
    <div class="block-text">
      {{ block.settings.html }}
    </div>
  {% endif %}
</div>
