<div></div>
{% schema %}
{
  "name": "[FoxKit] Related products",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "This section has been deprecated since version 3.5.0. Please use App block instead by selecting \"Add section\" -> \"Apps\" -> \"FoxKit - Related products\". [Learn more](https://docs.minimog.co/foxkit-app/how-to-set-up-foxkit-features)"
    }
  ],
  "presets": [
    {
      "name": "[FoxKit] Related products"
    }
  ]
}
{% endschema %}
